data/cifar-10-python.tar.gz
data/cifar-10-batches-py/*
data/hotdog*
data/banana-detection*
data/VOCdevkit/VOC2012
data/VOCtrainval*
/kaggle2-Classify_Leaves/data/images/*
第4章 多层感知机/__pycache__/train_ch3.cpython-310.pyc
kaggle2-Classify_Leaves/data.zip
